:root {
  --base-font-color: rgb(131,148,150);
  --secondary-font-color: rgb(147,161,161);
  --emphasised-font: 'Sonsie One', cursive;

  --c-background-color: rgb(0,43,54);
  --c-background-highlights: rgb(7,54,66);

  --c-yellow: rgb(181,137,0);
  --c-orange: rgb(203,75,22);
  --c-red: rgb(220,50,47);
  --c-magenta: rgb(211,54,130);
  --c-violet: rgb(108,113,196);
  --c-blue: rgb(38,139,210);
  --c-cyan: rgb(42,161,152);
  --c-green: rgb(133,153,0);
}

/* 1. Set the background color of the page to c-background-color */
html {
  background-color: var(--c-background-color);
}

body {
  background-color: var(--c-background-color);
}

/* 2. Set the background color of the header and footer to c-background-highlights */
header, footer {
  background-color: var(--c-background-highlights);
}

/* 3. Set the text color in the main, footer, and header to be base-font-color */
header, footer, main {
  color: var(--base-font-color);
}

/* 4. Links in the article should be c-magenta */
article a {
  color: var(--c-magenta);
}

/* 5. When the mouse hovers over a link, it should be highlighted orange */
article a:hover {
  color: var(--c-orange);
}
